<table>
  <tr>
    <td><label for='preg' class='rem'>Pregunta</label></td>
    <td><input type='text' id='preg' name='quiz[pregunta]' value='<%= quiz.pregunta %>' placeholder='Ingrese la pregunta' /></td>
  </tr>
  <tr>
    <td><label for='resp' class='rem'>Respuesta</label></td>
    <td><input type='text' id='resp' name='quiz[respuesta]' value='<%= quiz.respuesta %>' placeholder='Ingrese la respuesta' /></td>
  </tr>
  <tr>
    <td><label for='tema' class='rem'>Temática</label></td>
    <td>
    <select id='tema' name="quiz[tematica]" value='<%= quiz.tematica %>'>
    <%  var tematicas = ['Seleccione un valor','Humanidades','Ocio','Ciencia','Tecnologia'], i;
        for(i = 0;i<tematicas.length;i++){
          if(tematicas[i]===quiz.tematica){
    %>
      <option value="<%= tematicas[i] %>" selected><%= tematicas[i] %></option>
    <% } else {%>
      <option value="<%= tematicas[i] %>"><%= tematicas[i] %></option>
    <% }
    } %>
    </select>
    </td>
  </tr>
  <tr>
    <td colspan='2'><a href='/quizes'><button type='button'>Cancelar</button></a>&nbsp;<input type='submit' value='Guardar'/></td>
  </tr>
</table>
